<div>
  <ul class="breadcrumb">
  <li><%= link_to 'Home',dashboard_home_index_path %></li>
  <li>Dashboard</li>
  </ul>
</div>
<div id="flash"><%= render 'layouts/messages'%></div>        
<br/>
  <% if current_user.role == 'SuperAdmin' %>
      <%= render 'dash' %>
  <% elsif current_user.role == 'Admin' %>
      <%= render 'dash1' %>
  <% elsif current_user.role == 'Employee' %>
     <%
        emp_id =User.select(:employee_id).where(id:current_user.id).pluck(:employee_id)
        em=Employee.where(id:emp_id.map(&:to_i)).take
        position = EmployeePosition.where(id:em.employee_position_id).take.name%>
     
     <% if position == 'Research Associate'%>
         <%= render 'dash5' %>
     <%else%>
         <%= render 'dash2' %>
     
     <%end%>   
  <% else %>
      <%= render 'dash3' %>
  <% end %>
  